@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Press+Start+2P&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  background: #f9f8f8;
}

a {
  text-decoration: none;
  display: inline;
}

li {
  list-style: none;
}

.row {
  margin: 0;
}

/*	TOPBAR	*/
.top-bar {
  background: #ffd435;
  height: 10vh;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  max-width: 160px;
  height: auto;
}

/*	HEADER	*/
.header {
  position: relative;
  height: 55vh;
  background: url(/assets/img/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.text-header {
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
  z-index: 10;
}

/* MAIN STYLES */
.main-content {
  padding: 60px 0;
}

.text-main {
  text-align: center;
}

.title-main {
  color: #2c6cb5;
}

.sub-title-main {
  color: #a4a4a4;
  font-weight: 500;
}

/* CARDS */
.cards {
  padding-top: 40px;
}

.card-item {
  border: 2px solid #2c6cb5;
  max-width: 220px;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0 15px 15px 0;
  cursor: pointer;
}

.card-item img {
  max-width: 190px;
  height: auto;
}

.card-title {
  padding-top: 10px;
  color: #2c6cb5;
  font-size: 1.5em;
}

.card-year {
  color: #ffd435;
  font-weight: bold;
}

/* GAME DETAILS STYLES */
.header-game-details {
  position: relative;
  background: #2c6cb5;
  text-align: center;
  height: 45vh;
  margin-top: 10vh;
}

.title-header-game-details {
  padding-top: 10vh;
}

.main-game-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.details-wrap {
  background: #f9f8f8;
  position: absolute;
  top: 40vh;
  width: 85vw;
  height: 160vh;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 60px 40px;
  border-radius: 20px;
}

.index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid #2c6cb5;
}

.index li {
  background: #2c6cb5;
  color: #ffd435;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.3em;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
}

.ativo {
  background: #ffd435;
  color: #2c6cb5;
}

.pokemons {
  padding: 40px 0;
}

.poke-item {
  max-width: 240px;
  margin-bottom: 30px;
}

.poke-img {
  background: #e8e8e8;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
}

.poke-img img {
  max-width: 160px;
  height: auto;
}

.poke-id {
  color: #a4a4a4;
  font-size: 0.8em;
}

.habilities {
  padding: 3px 10px;
  border-radius: 5px;
}

.grass {
  background: #65b626;
  color: #000;
}

.poison {
  background: #ad5ca5;
  color: #f9f8f8;
}

/*	FOOTER STYLES	*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd435;
  padding: 20px 0;
  color: #f9f8f8;
  position: absolute;
  width: 100%;
  left: 0;
  top: 220vh;
}

.footer a {
  text-decoration: none;
  color: #2c6cb5;
}
